* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

body {
  height: 100%;
}

/* header */

header {
  margin-bottom: 1%;
}

.menu-main {
  list-style: none;
  margin: 40px 0 5px;
  padding: 25px 0 5px;
  text-align: left;
  background: white;
}
.menu-main li {
  display: grid;
}

.menu-main li:last-child:after {
  content: none;
}
.menu-main a {
  text-decoration: none;
  font-family: "Ubuntu Condensed", sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color 0.2s;
}
.menu-main a,
.menu-main a:visited {
  color: #818181;
}
.menu-main a.current,
.menu-main a:hover {
  color: #d7c90c;
}
.menu-main a:before,
.menu-main a:hover:before,
.menu-main .current:before {
  left: 0;
}
.menu-main a:hover:after,
.menu-main .current:after {
  right: 0;
}
@media (max-width: 550px) {
  .menu-main {
    padding-top: 0;
  }
  .menu-main li {
    display: block;
  }
  .menu-main li:after {
    content: none;
  }
  .menu-main a {
    padding: 25px 0 20px;
    margin: 0 30px;
  }
}

/* content */

h1 {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:xx-large;
}

.main {
  margin: 1% 5%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 26px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.img {
  text-align: center;
}

img {
  margin: 2%;
  width: 60%;
  height: auto;
}

.gyper-link {
  margin-top: 15px;
  text-align: center;
}

.inner {
  margin: 10px;
  text-align: center;
}

.outer,
.inner {
  width: 100%;
}

table,
th,
td {
  margin: auto;
  border: 1px solid black;
}

.inner table caption {
  font-size: 32px;
  margin-bottom: 15px;
}

.inner table tr th {
  width: 180px;
}

.name-article {
  width: fit-content;
}

.article {
  text-indent: 20px;
  font-size: 19px;
}

p {
  margin-bottom: 5px;
  font-size: larger;
  line-height: 30px;
  letter-spacing: 1px;
  word-spacing: 4px;
  vertical-align: auto;
  text-transform: capitalize;
  text-indent: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
  margin-top: 20px;
  width: auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.l1 {
  font-size: large;
  margin-left: 20px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.lol {
  margin-top: 40px;
}

/* --- DOM --- */
.dom-main {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  height: 200vh;
  width: 100%;
}

.txt {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  height: 200vh;
}

.txt .title {
  width: 100%;
}
.sidenav {
  vertical-align: top;
  display: inline-block;
  height: 200vh;
  background-color: #111;
}

.sidenav a {
  padding: 8px 30px 6px 16px;
  text-decoration: none;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#img-stu img {
  width: 3000px;
}

#img-fam img {
  width: 300px;
}

#img-fra img {
  width: 180px;
}

#img-ho img {
  width: 250px;
}

#img-pet img {
  width: 1500px;
}
