@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');

/* --------TOP-------- */

.top p {
    margin-left: 20%;
}

.top p img {

    margin-top: 60px;
    object-fit: cover;
    width: 1000px;
    height: auto;

}


/* -------CONTENT------- */

.main-content {
    width: auto;
    height: auto;
}

.indent {

    text-indent: 20px;

}

#cen {
    text-align: center;
}



/* -------MENU--------- */

* {
    box-sizing: border-box;

}

.widget {
    margin: 0;
    padding: 20px;
    /* border: 5px solid #f1f1f1; */
    background: #fff;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.widget h3 {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: #424949;
}

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* width: 250px; */
    /* text-align: center; */
}

.widget li {
    margin: 0;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.widget a {
    text-decoration: none;
    color: #3c4141;
    display: inline-block;
    /* transition: 5s linear; */


    position: relative;
    display: inline-block;
    /* font-size: 2em; */
    font-weight: 800;
    /* color: rgb(47, 0, 0); */
    overflow: hidden;
    background: linear-gradient(to right, rgb(196, 10, 10), rgb(10, 10, 201) 50%, rgb(52, 52, 52) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none; 

    

}


.widget a:hover {
   

    background-position: 0 100%;



}